html{
  box-sizing: border-box;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}
body{
  font-family: 'Noto Sans', sans-serif; font-weight: 400;
  font-weight: 400;
  margin: 0
}
header{
  color: white;
  background-color: #e7001d;
  margin: 0;
  width: 100%;
  text-align:center;
}
h1{
  width: 100%;
  margin: 0 auto;
  text-shadow: 0 2px 5px black;
  text-align: center;
  font-size: 1rem;
  position: absolute;
  top: 20px;
}
.letters{
  font-size: 3rem;
  padding-top: 3rem;
  display: block;
}
.medallion{
  width: 170px;
  text-align: center;
  top: 15px;
  padding: 1rem;
  margin: 0 auto;
  position: relative;
}
nav{
  overflow: hidden;
}
nav ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  clear: left;
  padding: 0;
}

nav li {
  display: block;
  padding: 0;
  text-align: center;
  width: 50%;
  float: left;
}
nav a{
  display: block;
  color: white;
  text-decoration: none;
  border: 1px solid;
  border-color: black;
  background-color: #222222;
  padding: 0.50em;
  margin: 0;
  text-align: center;

}
a:hover{
  background-color: #e4c22a;
}
.shengxiao{
  color: white;
  font-style: italic;
  font-size: 2rem;
  position: absolute;
  bottom: 220px;
  text-shadow: 0 2px 2px #222222;
  margin: 0 auto;
}

.banner{
  width: 100%;
  position: relative;
}
.banner2{
  position: relative;
}
p{
  padding: 0.5rem;
  font-family: 'Noto Sans', sans-serif; font-weight: 400;
}
.yellowheader{
  text-align: center;
  background-color: #e4c22a;
  padding: 1rem;
  font-style: italic;
}
.dragon{
  width: 50%;
  float: right;
}
.dragonsymbol{
  width: 50%;
  float: right;
}

.redheader{
  text-align: center;
  font-style: italic;
  color: white;
  background-color: #bc0017;
  padding: 1rem;
}
.rooster{
  width: 50%;
  float: right;
}
.roostersymbol{
  width: 50%;
  float: right;
}
.blackheader{
  text-align: center;
  color: white;
  background-color: #222222;
  padding: 1rem;
  font-style: italic;
}
.goat{
  width: 50%;
  float: right;
}
.goatsymbol{
  width: 50%;
  float: right;
}
.ox{
  width: 50%;
  float: right;
}
.oxsymbol{
  width: 50%;
  float: right;
}
.figcaption{
  clear: both;
}
footer{
  background-color: #222222;
  color: white;
  padding: 2rem;
  text-align: center;
  font-size: 0.75rem;
  font-family: 'Noto Sans', sans-serif; font-weight: 400;
}
a{
  color: white;
}
a:hover{
  color: #e4c22a;
  background-color: #222222;
}
b{
  font-family: 'Noto Sans', sans-serif; font-weight: 400;
  font-style: italic;
}
h2{
  font-style: normal;
  width: 100%;
  text-align: center;
}
